<div class="main_page">
  <div class="first-region">
    {{ content.first }}
  </div>
  <div class="second-region">
    {{ content.second }}
  </div>
  <div class="content_front_page">
    <div class="left-part">
    	<div class="three-region">
      	{{ content.three }}
    	</div>
      <div class="fourth-region">
        {{ content.fourth }}
      </div>
      <div class="fifth-region">
        {{ content.fifth }}
      </div>
      <div class="sixth-region">
        {{ content.sixth }}
      </div>
    </div>
    <div class="seven-region">
      {{ content.seven }}
    </div>
  </div>
  <div class="right-sidebar">
    {{ content.right }}
  </div>
</div>

